:root {
  --main-pink: #d07076;
  --ligth-pink: #fce1e6;
  --pink-hover: #f3d0d2;
  --background: #fce7e6;
  --background-today: #fce1e6;
  --text: #444;
  --white: #fff;
  --main-font: "Poppins", sans-serif;
  --pink-task: #af4155;
}

body {
  font-family: var(--main-font);
  background-color: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: linear-gradient(to right, #ffd6e0, #f08080);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  color: var(--main-pink);
  font-weight: bold;
  font-family: var(--main-font);
}

.home {
  text-decoration: none;
  color: var(--main-pink);
  font-family: var(--text);
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  border-color: var(--main-pink);
  padding: 0.4rem;
  background-color: var(--background);
}

.home:hover {
  background-color: var(--pink-hover);
  scale: 1.025;
  transition-timing-function: ease;
  cursor: pointer;
}

.calendar {
  text-decoration: none;
  color: var(--main-pink);
  font-family: var(--text);
  font-size: 1rem;
  font-weight: 500;
  border: 0.2rem solid var(--main-pink);
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--background);
  cursor: pointer;
  transition: all 0.2s ease; /* transição suave */
  margin-right: 1rem;
}

.calendar:hover {
  background-color: var(--pink-hover);
  transform: scale(1.025);
  transition-timing-function: ease;
  cursor: pointer;
}

.routineContainer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.inputArea {
  background-color: var(--background-today);
  border-radius: 1rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
}

.taskInput {
  margin: 1rem;
  border: 0.2rem solid var(--main-pink);
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: var(--main-font);
  font-weight: 600;
  cursor: text;
  outline: none;
  transition: background-color 0.2s;
  color: var(--main-pink);
}

.taskInput:hover {
  background-color: var(--pink-hover);
}

#daySelect {
  border: 0.2rem solid var(--main-pink);
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: var(--main-font);
  font-weight: 600;
  cursor: pointer;
  outline: none;
  background-color: var(--white);
  color: var(--main-pink);
  transition: background-color 0.2s;
  &,
  &::picker(select) {
    appearance: base-select;
    border-radius: 30px;
    border: 0.2rem solid;
    border-color: var(--main-pink);
    color: var(--main-pink);
  }
}

#daySelect:hover {
  background-color: var(--pink-hover);
}

option {
  padding: 0.3rem;
  background-color: var(--ligth-pink);
}

option:hover {
  background-color: var(--pink-hover);
}

.addBtn {
  background-color: var(--white);
  border: 0.2rem solid var(--main-pink);
  border-radius: 1rem;
  padding: 0.4rem;
  outline: none;
  font-family: var(--main-font);
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.2s;
  transition: transform 0.2s ease, background-color 0.2s ease;
  color: var(--main-pink);
}

.addBtn:hover {
  background-color: var(--pink-hover);
  transform: scale(1.1);
}
