:root {
  --main-pink: #d07076;
  --ligth-pink: #fce1e6;
  --pink-hover: #f3d0d2;
  --background: #fce7e6;
  --background-today: #fce1e6;
  --text: #444;
  --white: #fff;
  --main-font: "Poppins", sans-serif;
}

body {
  font-family: var(--main-font);
  background-color: var(--background);
  color: var(--text);
}

* {
  margin: 0;
  padding: 0;
}

.top-bar {
  background: linear-gradient(to right, #ffd6e0, #f08080);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.logo {
  color: var(--main-pink);
  font-weight: bold;
  font-family: var(--main-font);
}

.myRoutine {
  text-decoration: none;
  color: var(--main-pink);
  font-family: var(--text);
  font-size: 1rem;
  font-weight: 500;
  margin-right: 2rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  border-color: var(--main-pink);
  padding: 0.4rem;
  background-color: var(--background);
}

.myRoutine:hover {
  background-color: var(--pink-hover);
  scale: 1.025;
  transition-timing-function: ease;
  cursor: pointer;
}

.calendar {
  text-decoration: none;
  color: var(--main-pink);
  font-family: var(--text);
  font-size: 1rem;
  font-weight: 500;
  border: 0.2rem solid var(--main-pink);
  border-radius: 2rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--background);
  cursor: pointer;
  transition: all 0.2s ease; /* transição suave */
  margin-right: 1rem;
}

.calendar:hover {
  background-color: var(--pink-hover);
  transform: scale(1.025);
  transition-timing-function: ease;
  cursor: pointer;
}

.date {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.todayDate {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
  font-family: var(--main-font);
  font-size: 2rem;
  color: var(--main-pink);
}

.dateInNumbers {
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--main-pink);
}

.addBtn {
  margin-top: 1rem;
  font-family: var(--text);
  font-weight: 500;
  font-size: 1rem;
  color: var(--main-pink);
  border: 0.2rem solid;
  border-radius: 2rem;
  padding: 0.4rem;
  background-color: var(--background);
  outline: none;
}

.addBtn:hover {
  background-color: var(--pink-hover);
  scale: 1.025;
  transition-timing-function: ease;
  cursor: pointer;
}

.textTask {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0.2rem solid;
  border-radius: 2rem;
  border-color: var(--main-pink);
  padding: 0.4rem;
  outline: none;
}

.textTask:hover {
  cursor: pointer;
  background-color: var(--pink-hover);
}

.delete {
  position: absolute;
  right: 1rem;
  margin-top: 1rem;
  border: 0.2rem solid;
  border-radius: 0.3rem 0.6rem;
  border-color: var(--main-pink);
  padding: 0.2rem;
  outline: none;
  font-family: var(--text);
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--main-pink);
  background-color: var(--background);
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
  background-color: var(--pink-hover);
}

.tasks {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.tasks li {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.task-label {
  display: flex;
  align-items: center;
  margin-right: 0.5rem; /* Distância fixa entre checkbox e nome */
}

.task-checkbox {
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
}

.task-checkbox:hover {
  cursor: pointer;
}

.task-text {
  font-family: var(--text);
  font-size: 1.5rem;
}

.today-section {
  background-color: var(--background-today);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
  width: 700px;
  height: auto;
  margin: auto;
  margin-top: 4rem;
  border-radius: 8rem;
  padding: 2rem;
}
